<%= form_tag({controller: "users", action: "update_password"}, method: "put", class: "form-horizontal",role: "form") do %>
	<div class="form-group">
		<label for="current-password">Current</label>
		<%= password_field(:user,:current_password,id:"current-password",class:"form-control",value:"") %>
	</div>
	<div class="form-group">
		<label for="new-password">New</label>
		<%= password_field(:user,:password,id:"new-password",class:"form-control",value:"") %>
	</div>
	<div class="form-group">
		<label for="retype-password">Retype</label>
		<%= password_field(:user,:password_confirmation,id:"retype-password",class:"form-control",value:"") %>
	</div>
	<div class="form-group pull-right">
		<button type="submit" class="btn btn-default">Save</button>
		<a href="#"><button type="button" class="btn btn-primary">Cancel</button></a>
	</div>
<% end %>