<div class="row" style="margin-top:10px;">
  <ol class="breadcrumb">
    <li><%= link_to("Home", {controller: 'posts', action: 'index'}) %></li>
    <li>Login</li>
  </ol>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= render partial: "form_signin"  %>
      </div>
    </div>
  </div>
</div>